body {
    background-color: #F5F7FA;
    font-family: 'Montserrat', 'Arial';
}

li {
    line-height: 24px;
}

/* contenido principal*/
.contenedor-principal{
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    width: 1200px;
    margin: 40px auto;
}

.prime-elemento-lista {
    background-color: yellow;
}

/* informacion general*/
.descripcion-profesion{
    font-size: 14px;
    font-weight: 700;
}

.Descripcion {
    margin-bottom: 40px;
}

/* informacion lateral */
.informacion-lateral {
    background-color: #ecb9dc;
    padding: 40px 0;
}

.titulo-lateral {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: white;
    margin-top: 50px;
}

.contactos, .habilidades-tecnicas, .titulo-lateral-skills {
    margin-left: 40px;
}

/* seccion de contactos*/

.tipo-contacto {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 5px;
}

.contacto-info {
    color: rgb(88, 88, 88);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

/*seccion de lista */

.lista-lateral {
    padding-left: 17px;
}


.lista-lateral > li {
    color: #FB6D3A;
}

.elemento-lista-lateral {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: white;
}

/* soft skills*/

.titulo-lateral-skills  {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: white;
}

/*seccion de lista */

.lista-lateral-skills {
    padding-left: 57px;
}

.lista-lateral-skills {
    color: #FB6D3A;
}

.elemento-lista-lateral-skills {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: white;
}
